
// import the entire library
if $animate-all == true
  @require './**/*'
else
  if $animate-base == true
    @require './base/*'

  if $animate-attention-seekers == true
    @require './attention_seekers/*'

  if $animate-bling == true
    @require './bling/*'

  if $animate-bomb == true
    @require './bomb/*'

  if $animate-bouncing-entrances == true
    @require './bouncing_entrances/*'

  if $animate-bouncing-exits == true
    @require './bouncing_exits/*'

  if $animate-fading-entrances == true
    @require './fading_entrances/*'

  if $animate-fading-exits == true
    @require './fading_exits/*'

  if $animate-flippers == true
    @require './flippers/*'

  if $animate-lightspeed == true
    @require './lightspeed/*'

  if $animate-magic == true
    @require './magic_effects/*'

  if $animate-math == true
    @require './math/*'

  if $animate-perspective == true
    @require './perspective/*'

  if $animate-rotate == true
    @require './rotate/*'

  if $animate-rotate-entrances == true
    @require './rotating_entrances/*'

  if $animate-rotate-exits == true
    @require './rotating_exits/*'

  if $animate-sliders == true
    @require './sliders/*'

  if $animate-sliders-entrances == true
    @require './sliders_entrances/*'

  if $animate-sliders-exits == true
    @require './sliders_exits/*'

  if $animate-specials == true
    @require './specials/*'

  if $animate-static == true
    @require './static_effects/*'

  if $animate-tin == true
    @require './tin/*'

  if $animate-zooming-entrances == true
    @require './zooming_entrances/*'

  if $animate-zooming-exits == true
    @require './zooming_exits/*'
