@keyframes zoomInLeft
  from
    animation-timing-function: cubic-bezier( .550, .055, .675, .190 )
    opacity: 0
    transform: scale3d( .1, .1, .1 ) translate3d( -1000px, 0, 0 )
  60%
    animation-timing-function: cubic-bezier( .175, .885, .320, 1 )
    opacity: 1
    transform: scale3d( .475, .475, .475 ) translate3d( 10px, 0, 0 )
